<!DOCTYPE html>
<html lang="en" ng-app="notesApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Allen">
    <link rel="icon" href="../icon/Think IELTS Lightbulb.jpg">
    <title>Ielts</title>
    <link href="../css/Font/font.css" rel="stylesheet">
    <link href="../css/build.css" rel="stylesheet">
    <link href="../css/context.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../css/bootstrap-theme.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/theme.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body role="document" ng-controller="MainCtrl as ctrl">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div id="navbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../home/home.html"> Home</a>
                    </li>
                    <li>
                        <a href="../manager/upload.html"> upload</a>
                    </li>
                    <li>
                        <a href="../manager/manuBar.html"> manuBar</a>
                    </li>
                    <li>
                        <a href="../manager/updHomePage.html"> updHome</a>
                    </li>
                    <li>
                        <a href="../manager/manageContext.html"> updContext</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="centeredDiv" ng-show="showCenter">
        <div ng-repeat="manu in manus" ng-show="manu.order==''">
            <input type="checkbox" class="mb-2 mr-sm-2 mb-sm-0" /> {{manu.name}}
        </div>

        <!-- ng-click='addSub($index)' -->
        <button type="button" ng-click='comfirm()' value="Confirm" class="btn btn-sm btn-danger">Confirm</button>
    </div>



    <div class="container theme-showcase" role="main">
        <div ng-repeat="context in contexts" class="padding5">
            Context:
            <input type="text" ng-model="context.context" required/> &nbsp;&nbsp;&nbsp;&nbsp; Title:
            <input type="text" ng-model="context.title" required> Author: {{context.user}}&nbsp;&nbsp; Time: {{context.sysTime}}&nbsp;&nbsp;&nbsp;
            <button type="button" value="Del" class="btn btn-sm btn-info" ng-click='upd(context)'>Upd</button> &nbsp;&nbsp;&nbsp;
            <button type="button" value="Del" class="btn btn-sm btn-danger" ng-click='del(context.id,$index)'>Del</button>
            <br>
        </div>
    </div>


    <!-- /container -->
    <script src="../js/angular.js"></script>
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../js/ie10-viewport-bug-workaround.js"></script>
    <script src="../js/const.js"></script>


    <script type="text/javascript">
        var app = angular.module('notesApp', []);
        app.controller('MainCtrl', function($scope, $http, $location) {
            $http.get(globaleURL + "app/getSession?id=isLogin")
                .error(function(data, status, headers, config) {
                    $window.location.href = '../login/login.html';
                });

            var self = this;
            $http.get(globaleURL + "app/context/all")
                .then(function(response) {
                    $scope.contexts = response.data;
                });

            $scope.del = function(id, i) {
                if (confirm("Are you sure?")) {
                    $http({
                            method: 'GET',
                            url: globaleURL + 'app/delContext?del_id=' + id
                        })
                        .success(function(data, status, headers, config) {
                            alert("done!");
                        }).error(function(data, status, headers, config) {
                            alert("please check input data");
                        });
                    $scope.contexts.splice(i, 1);
                }
            }

            $scope.upd = function(context) {
                if (confirm("Are you sure?")) {
                    $http({
                            method: 'POST',
                            url: globaleURL + 'app/updContext',
                            contentType: 'application/json',
                            data: context
                        })
                        .success(function(data, status, headers, config) {
                            alert("done!");
                        }).error(function(data, status, headers, config) {
                            alert("please check input data");
                        });
                }
            }
        });
    </script>
</body>

</html>
