<!DOCTYPE html>
<html lang="en" ng-app="notesApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Allen">
    <link rel="icon" href="../icon/Think IELTS Lightbulb.jpg">
    <title>Ielts</title>
    <link href="../css/Font/font.css" rel="stylesheet">
    <link href="../css/build.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../css/bootstrap-theme.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/theme.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body role="document" ng-controller="MainCtrl as ctrl">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div id="navbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../home/home.html"> Home</a>
                    </li>
                    <li>
                        <a href="../manager/upload.html"> upload</a>
                    </li>
                    <li>
                        <a href="../manager/manuBar.html"> manuBar</a>
                    </li>
                    <li>
                        <a href="../manager/updHomePage.html"> updHome</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="centeredDiv" ng-show="showCenter">
        <div ng-repeat="manu in manus" ng-show="manu.order==''">
            <input type="checkbox" class="mb-2 mr-sm-2 mb-sm-0" /> {{manu.name}}
        </div>

        <!-- ng-click='addSub($index)' -->
        <button type="button" ng-click='comfirm()' value="Confirm" class="btn btn-sm btn-danger">Confirm</button>
    </div>



    <div class="container theme-showcase" role="main">
        <form ng-submit="ctrl.submit()" name="myForm">
            <ul ui-sortable="{axis:'y'}" ng-model="manus">
                <li ng-repeat="manu in manus">
                    IsMain:
                    <input class="form-check-input" type="checkbox" ng-model="manu.isMain" ng-checked="manu.isMain == 'Y'" ng-change="setCheckBox(manu.isMain,manu)"> &nbsp;&nbsp;&nbsp;&nbsp; Name:
                    <label class="sr-only" for="inlineFormInput"></label>
                    <input type="text" class="mb-2 mr-sm-2 mb-sm-0 widthInherit" ng-model="manu.name" ng-change="assignValue(manu.name,manu)" required/> Value: <label class="sr-only" for="inlineFormInput"></label>
                    <input type="text" class="mb-2 mr-sm-2 mb-sm-0 readOnly widthInherit" ng-model="manu.value" readonly required> Subclass: <label class="sr-only" for="inlineFormInput"></label>
                    <input type="text" class="mb-2 mr-sm-2 mb-sm-0 widthInherit" ng-model="manu.subClass" ng-readonly="manu.isMain == 'Y'"> IsDrop:
                    <input class="form-check-input" type="checkbox" ng-model="manu.isDrop" ng-checked="manu.isDrop == 'Y'" ng-change="setCheckBox2(manu.isDrop,manu)"> Order:
                    <label class="sr-only" for="inlineFormInput"></label>
                    <input type="text" size="2" class="mb-2 mr-sm-2 mb-sm-0 readOnly widthInherit" ng-model="manu.order" readonly>
                    <button type="button" value="Sub" class="btn btn-sm btn-success" ng-click='addSub($index)'>Sub</button>
                    <button type="button" value="Del" class="btn btn-sm btn-info" ng-click='del($index)'>Del</button>
                </li>
            </ul>

            <p></p>
            <button type="button" value="Add" class="btn btn-sm btn-primary" ng-click='add()'>Add</button>
            <button type="submit" value="Submit" class="btn btn-sm btn-danger">Submit</button>

        </form>
    </div>

    <!-- TODO download this file!!! -->
    <script src='https://cdn.jsdelivr.net/g/jquery@1,jquery.ui@1.10%28jquery.ui.core.min.js+jquery.ui.widget.min.js+jquery.ui.mouse.min.js+jquery.ui.sortable.min.js%29,angularjs@1.2,angular.ui-sortable'></script>


    <!-- /container -->
    <script src="../js/angular.js"></script>
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../js/ie10-viewport-bug-workaround.js"></script>
    <script src="../js/const.js"></script>


    <script type="text/javascript">
        var app = angular.module('notesApp', ['ui.sortable']);
        app.controller('MainCtrl', function($scope, $http, $location) {


            var showCenter = false;

            $scope.addSub = function(i) {
                $scope.showCenter = true;
            }

            $scope.comfirm = function() {
                $scope.showCenter = false;
            }

            $scope.$watch("manus", function() {
                var i = 1;
                console.log($scope.manus);
                for (var manu in $scope.manus) {
                    console.log($scope.manus[manu]);
                    if ($scope.manus[manu].isMain == "Y") {
                        $scope.manus[manu].order = i++;
                    } else {
                        $scope.manus[manu].order = "";
                    }
                }
            }, true);

            $http.get(globaleURL + "app/getSession?id=isLogin")
                .error(function(data, status, headers, config) {
                    $window.location.href = '../login/login.html';
                });

            var self = this;
            $http.get(globaleURL + "app/getRawManuBar")
                .then(function(response) {
                    $scope.manus = response.data;
                });
            $scope.setCheckBox2 = function(val, obj) {
                obj.isDrop = val ? 'Y' : "N";
            }
            $scope.setCheckBox = function(val, obj) {
                obj.isMain = val ? 'Y' : "N";
                obj.subClass = val ? subClass : "";
            }

            $scope.assignValue = function(val, obj) {
                obj.value = val.replace(/ +/g, "").toLowerCase();
            }
            $scope.add = function() {
                var name = {
                    "name": "",
                    "value": "",
                    "subClass": "",
                    "isMain": "",
                    "order": "",
                    "isDrop": ""
                };
                $scope.manus.push(name);
            }

            $scope.del = function(i) {
                if (confirm("Are you sure?")) {
                    $scope.manus.splice(i, 1);
                }
            }

            self.submit = function() {
                if (confirm("Are you sure?")) {
                    $http({
                            method: 'POST',
                            url: globaleURL + 'app/updManubar',
                            contentType: 'application/json',
                            data: JSON.parse(angular.toJson($scope.manus))
                        })
                        .success(function(data, status, headers, config) {
                            alert("done!");
                        }).error(function(data, status, headers, config) {
                            alert("please check input data");
                        });
                }
            }
        });
    </script>
</body>

</html>
