<!DOCTYPE html>
<html lang="en" ng-app="notesApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Allen">
    <link rel="icon" href="../icon/Think IELTS Lightbulb.jpg">

    <title>Ielts</title>

    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/bootstrap-theme.css" rel="stylesheet">

    <link href="../css/theme.css" rel="stylesheet">
    <script src="../js/ie-emulation-modes-warning.js"></script>
    <link href="../css/context.css" rel="stylesheet">
</head>

<body role="document" ng-controller="MainCtrl as ctrl">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span> <span
        class="icon-bar"></span> <span class="icon-bar"></span> <span
        class="icon-bar"></span>
    </button>
                <a class="navbar-brand" href="../home/home.html" style="padding-top: 23px;">Home</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav" ng-repeat="manu in manus">
                    <li ng-show="manu.isMain && manu.isDrop == 'N' ">
                        <a ng-click="click(manu.value)"> {{manu.name}}
            </a>
                    </li>
                    <li ng-show="manu.isMain && manu.isDrop " class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    {{manu.name}} <span class="caret"></span>
                    </a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="manuSubs in manu.mySubs"><a ng-click="click(manuSubs.value)">{{manuSubs.name}}</a></li>
                        </ul>
                        <li class="floatABRight" ng-show="$last">
                            <a href="../login/login.html">Login</a>
                        </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container theme-showcase" role="main">
        <div class="w150 floatLeft">
            <img src="../icon/ThinkIELTS Logo.png" class="goHome" />
            <br><br><br>
            <p>
                <div class="header fakeHyperline" ng-click="myFilter.monthFilter = ''">show all</div>
                </br>
                <div ng-repeat="item in items | filterByMonth" class="mt5">

                    <div class="header fakeHyperline" ng-click="myFilter.monthFilter = item.monthFilter">
                        {{item.sysTime.trunc(8)}}
                    </div>
                    </br>
                </div>

            </p>
        </div>
        <div class="floatLeft ml50">
            <div ng-repeat="item in items | filter:myFilter " class="animate mt30">
                <div class="header">
                    <a ng-href="../context/comment.html?id={{item.id}}" target="_blank">
                  {{item.title}}</a></div>
                </br>
                <div compile="item.context"></div>
                </br>
                <div class="bottom">
                    Posted by {{item.user}} in {{item.sysTime}}
                </div>
            </div>
        </div>
    </div>

    <script src="../js/function.js"></script>
    <script src="../js/angular.js"></script>

    <script src="../js/jquery.js"></script>
    <script src="../js/const.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script type="text/javascript">
        var app = angular.module('notesApp', []);
        app.controller('MainCtrl', function($scope, $http, $location, $filter) {

                $http.get(globaleURL + "app/getManuBar")
                    .then(function(response) {
                        $scope.manus = response.data;
                    });

                $scope.myFilter = {};

                var val = $location.search()['val'];
                if (!val) {
                    val = "reading";
                }
                changeData(val);

                $scope.click = function(dataType) {
                    changeData(dataType);
                };

                function changeData(dataType) {
                    $http.get(globaleURL + "app/context/" + dataType)
                        .then(function(response) {
                            $scope.items = response.data;
                        });
                }

            }).directive('compile', ['$compile', function($compile) {
                return function(scope, element, attrs) {
                    scope.$watch(
                        function(scope) {
                            return scope.$eval(attrs.compile);
                        },
                        function(value) {
                            element.html(value);
                            $compile(element.contents())(scope);
                        }
                    );
                };
            }])
            .filter('filterByMonth', function() {
                return function(collection, keyname) {
                    var output = [],
                        months = [];
                    angular.forEach(collection, function(item) {
                        var temp = item.sysTime.substring(0, 7);
                        item.monthFilter = temp;
                        if (months.indexOf(temp) === -1) {
                            months.push(temp);
                            output.push(item);
                        }
                    });
                    return output;
                };
            });
    </script>
</body>

</html>
