<!DOCTYPE html>
<html lang="en" ng-app="notesApp">
<script src="http://www.w3schools.com/lib/w3data.js"></script>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Allen">
    <link rel="icon" href="icon/Allen icon.ico">

    <title>Ielts</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../css/bootstrap-theme.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/theme.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body role="document" ng-controller="MainCtrl as ctrl">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <!-- <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span> <span
          class="icon-bar"></span> <span class="icon-bar"></span> <span
          class="icon-bar"></span>
      </button>
                <a class="navbar-brand" href="../home/home.html">Home</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="reading.html">Reading</a></li>
                    <li><a href="table.html">Listing</a></li>

                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Writing <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Task1</a></li>
                            <li><a href="#">Task2</a></li>
                        </ul>
                    </li>
                    <li><a href="dynamicForm.html">Speaking</a></li>
                </ul>
            </div>
        </div> -->
    </nav>
    <!--Navbars-->

    <div class="container theme-showcase" role="main">
        <form ng-submit="ctrl.submit()" name="myForm" method='get'>
            <div class="page-header">
                <h1>Title: <input type = "text" ng-model="ctrl.context.title" placeholder="Title"></h1> Categorization:
                <select ng-model="ctrl.context.categorization" ng-options="item as item.name for item in items"></select>

            </div>

            <p>
                <textarea style="width: 800px; height: 300px;" ng-model="ctrl.context.context" placeholder="context">
                </textarea><br>(You can use HTML tags like &lt;b>, &lt;br> &lt;i> and &lt;ul> to style your text. URLs automatically linked.)
                </br>
                </br>
                <button type="submit" value="Submit" class="btn btn-sm btn-danger">Submit</button>
            </p>
        </form>
    </div>
    <!-- /container -->
    <script src="../js/angular.js"></script>
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../js/ie10-viewport-bug-workaround.js"></script>
    <script type="text/javascript">
        angular.module('notesApp', []).controller('MainCtrl', ['$http', '$scope', function($http, $scope) {
            var self = this;
            $scope.items = [{
                    id: 1,
                    name: 'Reading',
                    value: 'R'
                },
                {
                    id: 2,
                    name: 'Listening',
                    value: 'L'
                },
                {
                    id: 3,
                    name: 'Speaking',
                    value: 'S'
                },
                {
                    id: 4,
                    name: 'Writing Task1',
                    value: 'W1'
                },
                {
                    id: 5,
                    name: 'Writing Task2',
                    value: 'W2'
                },
            ];
            self.submit = function() {
                if (confirm("Are you sure?")) {
                    self.context.categorization = self.context.categorization.value;
                    $http({
                            method: 'POST',
                            url: 'http://127.0.0.1:8080/TeachIelts/app/upload',
                            contentType: 'application/json',
                            data: JSON.stringify(self.context) //forms user object
                        })
                        .then(function(response) {
                            alert("done");
                            // $scope.context = null;
                        }, function(response) {});
                }
            }
        }]);
    </script>
</body>

</html>
