.bottom {
    margin: 0 0 10px 0;
    border: 1px dotted #999999;
    padding: 3px;
    color: #666666;
    font-family: Arial, sans-serif;
    font-size: x-small;
    line-height: normal;
    text-align: left;
    font-weight: bold;
}

.header {
    margin: 1px 0 10px 0;
    border: 0;
    color: #000000;
    font-family: Arial, sans-serif;
    font-size: medium;
    line-height: normal;
    text-align: left;
    font-weight: bold;
}
